*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#navs{
	margin-left: 100px;
}



#navtrans{
	background-color: rgba(0,0,0, 0.4);
	/*height: 80px;*/
	z-index: 1;
	position:fixed;
}

/*.main {
	padding: px;
}*/



	
}

.h21 {
	padding-top: 3%;
	padding-left: 8%;
	color: rgb(169,169,169);
	text-shadow: 3px 3px black;
	font-size: 50px;
}

.h22 {
	padding-top: 2%;
	padding-left: 4%;
	color: rgb(169,169,169);
	text-shadow: 3px 3px black;
	font-size: 50px;
}




.laphones{
	width:100%;
	height:700px;
	min-height: 
}

 /*.wire{
	border: 1px solid red;	
}*/

.wire5 {
	/*float:left;*/
	padding-left: 50%;
	margin-left: 50px;
	display: inline;
} 



.row1 {
	padding-left:50px;
	padding-right:50px;
	padding-top:120px;
}
.row2 {
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
}

.img1{
	width:90%;
	height:350px;
	/* margin-left:50px; */
}
.img2{
	width:90%;
	height:350px;
	/* padding-left:25px; */
}
.img3{
	width:90%;
	height:350px;
	/* padding-right:35px; */
}
.rowpic1{
	padding-top: 20px;
	/* position:middle; */
	padding-left: 60px;
}
.h41 {
	margin-right:50px;
}

.a2 {
	color: gray;
}
.a1 {
	color: gray;
	margin-bottom: 50px;
	margin-top: 10px;
}
.a3 {
	color:gray;

}

/*desktop*/
@media only screen and (min-width: 961px) {
.bg {
	background-image: url(../images/shoes.jpg);
	background-size: cover;
	/*height: 100%;*/
	min-height: 700px;
}
.myimage {
	/*text-align: center;*/
	height: 45%;
	border: solid 5px rgba(0,0,0, 0.1);
	width: 45%;
	margin-left: 29%;
	margin-top:10%;
	border-width:20px;  
    border-style:double;
}
}

/*tablets*/
@media only screen and (min-width: 416px) and (max-width: 960px){
.bg {
	background-image: url(../images/shoes.jpg);
	background-size: cover;
	/*height: 100%;*/
	min-height: 700px;
}
.myimage {
	/*text-align: center;*/
	height: 25%;
	border: solid 5px rgba(0,0,0, 0.1);
	width: 2545
	margin-left: 40%;
	margin-top:10%;
	border-width:20px;  
    border-style:double;
}
}
/*mobile*/
@media only screen and (max-width: 415px) {
.bg {
	background-image: url(../images/shoes.jpg);
	background-size: cover;
	/*height: 100%;*/
	min-height: 500px;
}
.myimage {
	/*text-align: center;*/
	height: 60%;
	border: solid 5px rgba(0,0,0, 0.1);
	width: 60%;
	margin-left: 24%;
	margin-top:30%;
	border-width:20px;  
    border-style:double;
}
}







