*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*.me{
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: orange;
	
	width: 150px;
}*/

.main {
	padding: 10px;
}

.bg {
	background-image: url(../images/halaman.jpg);
	background-size: cover;
	min-height: 850px;
}

.navbar {
	background-color: rgb(0,0,0, 0.4);	
}

.halaman {
	width:100%;
	height:100%; 		
}

/* .wire{
	border: 1px solid red;	
} */

.row1 {
	padding-left:50px;
	padding-right:50px;
	padding-top:120px;
}
.row2 {
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
}

.img1{
	width:90%;
	height:350px;
	/* margin-left:50px; */
}
.img2{
	width:90%;
	height:350px;
	/* padding-left:25px; */
}
.img3{
	width:90%;
	height:350px;
	/* padding-right:35px; */
}
.rowpic1{
	padding-top: 20px;
	/* position:middle; */
	padding-left: 60px;
}
.h41 {
	margin-right:50px;
}

.a2 {
	color: gray;
}
.a1 {
	color: gray;
	margin-bottom: 150px;
	margin-top: 10px;
}
.a3 {
	color:gray;

}