
body{
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Playfair Display', sans-serif;

}


h2{
	color: white;
	font-size: 18px;
	margin-top: 0;
	background-color: rgb(255, 117, 26);
}



h1{
	color: white;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 0;
}

.bio{ color: white;
	font-size: 14px;

}

.me{
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: orange;
	margin-top: 40px;
	width: 150px;

}
.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(230, 230, 230, .2);

}



